<!-- templates/contract_cart.html -->
{% extends 'base.html' %}

{% block content %}

<a href='/'>Back to the Shop</a>
<!-- lists out all items in cart -->
<h1>Currently in cart</h1>
<table>
{%  for item in cart %}
    <td>
        <h2>{{ item.description }}</h2>
        <img src={{item.img}} alt="deck of cards" height=200 width=250>
        <!-- button that lets you delete an item from cart -->
        <form method='POST' action='/cart/delete/{{item._id}}'>
            <button class='btn btn-primary' type='submit'>Remove item from cart</button>
        </form>
    </td>
{% endfor %}
</table>
<form method='POST' action='/cart/checkout'>
    <button class='btn btn-primary' type='submit'>Checkout</button>
</form>
{% endblock %}
