<!-- templates/contract_index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Deck of Cards Store</h1>
    <form  action='/cart'>
        <button class='btn btn-primary' type='submit'>Cart</button>
    </form>
    <!-- lists out all of the decks  we have on sale -->
    <table>
    {% for cards in decks %}
        <td>
            <h2>{{ cards.description }}</h2>
            <img src={{cards.img}} alt="deck of cards" height=200 width=250> 
            <!-- button to let you add  this deck to cart -->
            <form method='POST' action='/add_to_cart/{{cards._id}}'>
                <button class='btn btn-primary' type='submit'>Add to Cart</button>
            </form>
        </td>
    {% endfor %}
    </table>
{% endblock %}


<input type="image" src="logg.png" name="saveForm" class="btTxt submit" id="saveForm" />